# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/

# Project specific
checkpoints/
data/
*.pth
*.ckpt
*.pt
*.h5

# Byte-compiled / distribution
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/
